.banner {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-attachment: scroll;
    height: 700px;
}

#first-banner {
    background-image: url('media/banner\ image\ copy@2x.png');
    background-size: cover;
    width: 100%;
}

#second-banner {
    background-image: url('media/back/back@2x.png');
    height: 680px;
    background-size: cover;
    max-width: 100%;
}

#third-banner {
    display: flex;
    height: 800px;
}


#banner-icon {
    background-color: #292929;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 30px;
    border-radius: 50%;

}

#icon {
    height: 110px;
    width: 200px;
}

#grid-image {
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    height: 700px;
}

.banner1-inside {
    margin-left: 8%;
    margin-top: 2.5%;
    max-width: 100%;
    height: auto;
}

.banner2-inside {
    max-width: 100%;
    height: auto;
}

.banner3-inside {
    line-height: 7rem;
    padding-left: 50px;
    max-width: 100%;
    height: auto;
    line-height: 2rem;
}

.banner3-icon {
    margin-left: 5%;
    background-color: #FFFFFF;
    height: 50px;

}

#medium-text {
    font-family: AktifoaMed, sans-serif;
    font-size: 2rem;
}

#light-text {
    font-family: AktifoaLight, sans-serif;
    color: #292929;
}


.footer-container {
    background-color: #1A1A1A;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1.5rem;
}

.column {
    padding: 1rem;
}

.row {
    margin-right: 0%;
}

.orange-btn{

    background: #F26621;
    color: #fff;
    text-decoration: none;
    font-family: AktifoaMed, sans-serif;;
    padding: 15px 80px;
    border-radius: 5px;
    font-size: 1.5rem;
}



@font-face { font-family: Aktifoa; src: url('media/aktifoa-semibold.otf'); }
@font-face { font-family: AktifoaMed; src: url('media/aktifoa-medium.otf'); }
@font-face { font-family: AktifoaLight; src: url('media/aktifoa-light.otf'); }